<h1>Events List</h1>
<ul>
	<% @events.each do |e| %>
		<li>
			<%= e.name %>
			<%= link_to 'Show', event_path(e) %>
			<%= link_to 'Go Json', event_path(e,:format => :json) %>
			<%= link_to 'Edit', edit_event_path(e) %>
			<%= link_to 'Delete', event_path(e), :method => :delete %>
		</li>
	<% end %>
</ul>
<%= link_to 'New', new_event_path %>

<%= paginate @events %>